.rr-paginator_button {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.rr-paginator_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 15px;
  background-color: whitesmoke;
}

.rr-paginator_days {
  display: flex;
  justify-content: space-between;
}

.rr-paginator_day {
  white-space: nowrap;
  padding: 5px;
  flex: 1;
}

.rr-paginator_title {
  text-transform: capitalize;
}

.rr-paginator_fulldays {
  text-transform: capitalize;
}

.rr-paginator_shortdays {
  text-transform: uppercase;
}

@media (max-width: 520px) {
  .rr-paginator .rr-left {
    display: none;
  }
}

@media (min-width: 860px) {
  .rr-paginator_shortdays {
    display: none;
  }
}

@media (max-width: 860px) {
  .rr-paginator_fulldays {
    display: none;
  }
}