.rr-room_days {
  display: flex;
  justify-content: space-between;
}

.rr-room_day {
  flex: 1;
}

.rr-room {
  margin-top: 10px;
  border: 1px solid lightgrey;
}

.rr-room_description {
  color: lightgrey;
}

.rr-room_time {
  padding: 3px;
  margin: 1px;
}

.rr-room_free-time {
  cursor: pointer;
}

.rr-room_reserved-time {
  background-color: lightgrey;
  cursor: default;
}

@media (min-width: 860px) {
  .rr-room_day {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
  }
}