.rr-paginator_day {
  display: inline-block;
  /*padding: 5px;*/
  width: 20%;
}

.rr-paginator_month_left {
  float: left;
}

.rr-paginator_month_title {
  display: inline-block;
}

.rr-paginator_month_right {
  float: right;
}

.rr-room_day {
  display: inline-block;
  width: 20%;
  column-count: 2;
}

.rr-room_time {
  cursor: pointer;
}

.rr-room {
  padding-top: 10px;
}

.rr-container {
  display: flex;
}

.rr-left {
  width: 20%;
}

.rr-content {
  width: 80%;
}

