.rr-module {
  padding: 10px;
  text-align: center;
  min-width: 280px;
}

.rr-container {
  display: flex;
}

.rr-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  min-width: 120px;
  padding-left: 25px;
}

.rr-content {
  flex: 6;
}

@media (max-width: 520px) {
  .rr-container {
    display: block;
  }

  .rr-left {
    align-items: center;
    padding: 5px;
  }
}