.rr-container {
  display: flex;
}

.rr-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  min-width: 120px;
  padding-left: 25px;
}

.rr-content {
  flex: 4;
}

